<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>{34.42612,-118.59973}</string>
	<string>{34.42539,-118.59878}</string>
	<string>{34.42616,-118.59841}</string>
	<string>{34.42412,-118.59974}</string>
</array>
</plist>
