<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>{34.42481,-118.596914}</string>
	<string>{34.423383,-118.596101}</string>
	<string>{34.423628,-118.595197}</string>
	<string>{34.421832,-118.595404}</string>
</array>
</plist>
